<div class="container-lg">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <form class="form-group" [formGroup]="personaForm">
          <div class="row mb-2">
            <label for="apellidoPaterno" class="col-form-label col-sm-2"
              >Apellido Paterno:</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                id="apellidoPaterno"
                placeholder="Apellido Paterno"
                formControlName="apellidoPaterno"
              />
            </div>
          </div>
          <div class="row mb-2">
            <label for="apellidoMaterno" class="col-form-label col-sm-2"
              >Apellido Materno:</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                id="apellidoMaterno"
                placeholder="Apellido Materno"
                formControlName="apellidoMaterno"
              />
            </div>
          </div>
          <div class="row mb-2">
            <label for="nombres" class="col-form-label col-sm-2"
              >Nombres:</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                id="nombres"
                placeholder="Nombres"
                formControlName="nombres"
              />
            </div>
          </div>

          <div class="row mb-2">
            <label for="fechaNacimiento" class="col-form-label col-sm-2"
              >Fecha Nac.</label
            >
            <div class="col-sm-4">
              <input
                type="date"
                class="form-control"
                id="fechaNacimiento"
                placeholder="fechaNacimiento"
                formControlName="fechaNacimiento"
              />
            </div>
          </div>
          <div class="row mb-2">
            <label for="idTipoDocumento" class="col-form-label col-sm-2"
              >Tipo Documento</label
            >
            <div class="col-sm-4">
              <select
                class="form-control form-select"
                aria-label="Default select example"
                id="idTipoDocumento"
                formControlName="idTipoDocumento"
                (change)="setTipoDocumento($event)"
              >
                <option
                  *ngFor="let tipodoc of tipoDocumentoArray"
                  value="{{ tipodoc.idTipoDocumento }}"
                >
                  {{ tipodoc.descripcion }}
                </option>
              </select>
            </div>
          </div>
          <div class="row mb-2">
            <label for="ndocumento" class="col-form-label col-sm-2"
              >N° Documento</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                id="ndocumento"
                placeholder="N° documento"
                formControlName="ndocumento"
              />
            </div>
          </div>

          <div class="row mb-2">
            <label for="direccion" class="col-form-label col-sm-2"
              >Direccion:</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                id="direccion"
                placeholder="Direccion"
                formControlName="direccion"
              />
            </div>
          </div>

          <div class="row mb-2">
            <label for="idUbigeo" class="col-form-label col-sm-2"
              >Ubigeo:</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                id="idUbigeo"
                placeholder="Ubigeo"
                formControlName="idUbigeo"
              />
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            (click)="registrarPersona()"
          >
            Registrar
          </button>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Apellido Paterno</th>
              <th scope="col">Apellido Materno</th>
              <th scope="col">Nombres</th>
              <th scope="col">fNac</th>
              <th scope="col">TipoDoc</th>
              <th scope="col">NDoc</th>
              <th scope="col">Direccion</th>
              <th scope="col">Ubigeo</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let persona of personaArray
                  | paginate : { itemsPerPage: 10, currentPage: page };
                let i = index
              "
            >
              <td>{{ i + 1 }}</td>
              <td>{{ persona.apellidoPaterno }}</td>
              <td>{{ persona.apellidoMaterno }}</td>
              <td>{{ persona.nombres }}</td>
              <td>{{ persona.fechaNacimiento }}</td>
              <td *ngIf="persona.tipoDocumento">
                {{ persona.tipoDocumento.descripcion }}
              </td>
              <td *ngIf="!persona.tipoDocumento">Sin Documento</td>
              <td>{{ persona.ndocumento }}</td>
              <td>{{ persona.direccion }}</td>
              <td *ngIf="persona.ubigeo">
                {{
                  persona.ubigeo.departamento +
                    "|" +
                    persona.ubigeo.provincia +
                    "|" +
                    persona.ubigeo.distrito
                }}
              </td>
              <td *ngIf="!persona.ubigeo">Sin Ubigeo</td>
              <td>
                <button
                  class="btn btn-secondary rounded-circle p-2 lh-1"
                  (click)="editarPersona(persona)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-pencil-square"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
                    />
                  </svg>
                </button>

                <button
                  class="btn btn-secondary rounded-circle p-2 lh-1"
                  (click)="eliminarPersona(persona)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-trash3-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"
                    />
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls
          (pageChange)="page = $event"
          previousLabel="Anterior"
          nextLabel="Siguiente"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
